go.work

# Binaries for programs and plugins
*rpk.*
redpanda-edge-agent*

# Release assets
*.zip

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# TLS certificates
*.crt
*.key
